
body{
  background-image: url(papyrus.png);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: auto;
  width: auto;
  margin-bottom: 200px;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 75px;
  width: 100%;
  border-bottom: 3px solid lightgrey;
  background-color: #fff;
  display: grid;
  justify-content: end;
  font-size: 20px;
  z-index: 2;
}

#nav-name{
  background-color: rgb(100, 165, 165);
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 8em;
  position: absolute;
  left: 30px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  height: 75px;
  text-align: center;
  display: grid;
  align-items: center;
}
.about{
  grid-column: 2;
  padding: 10px;
  border-right: 1px solid gray;
  height: 20px;
  margin-top: 25px;
  }
  
  .portfolio{
    grid-column: 3;
    padding: 10px;
    border-right: 1px solid gray;
    height: 20px;
    margin-top: 25px;
  }
  
  .contact{
    grid-column: 4;
    padding: 10px;
    height: 20px;
    margin-top: 25px;    
  }

  
section{
  width: 500px;
  position: relative;
  top: 130px;
  left: 20px;
  margin-bottom: auto;
}

.nav-links{
  color: gray;
  display: grid;
  align-items: center;
  justify-content: center;
  display: flex;
}
:link{
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:visited{
  color: gray;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-box{
  background-color: #fff;
  border: 1px solid lightgrey;
  padding: 30px;
  color: gray;
  font-size: 22px;
}

#contact-header{
  color: rgb(100, 165, 165);
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
  border-bottom: 1px solid lightgray;
  margin: 30px 20px -30px 20px;
  padding-bottom: 30px;
}

textarea{
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

#submit{
  width: 150px;
  height: 50px;
  background-color: rgb(100, 165, 165);
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

#name{
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

#email{
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

main{
  position: relative;
  top: 110px;
  left: 25px;
  height: 440px;
  width: 520px;
  background-color: white;
  border: 1px solid lightgray;
  color: gray;
  line-height: 35px;
  padding: 0px 40px 0px 40px;
}

img{
  position: relative;
  padding-right: 20px;
  margin-top: 50px;
  float: left;
  margin-bottom: 100px;
}


.about-me-p{
  font-size: 16px;
  position: relative;
  top: 40px;
  display: inline;
  }

#about-header{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
  border-bottom: 1px solid lightgray;
  margin: 30px 20px -30px 20px;
  padding-bottom: 30px;
  color: rgb(100, 165, 165);
}

.portfolio-container{
  border: 2px solid lightgray;
  height: 1000px;
  width: 650px;
  background-color: white;
}

.port-pics{
  margin: 20px ;
  padding: 0px;
  position: relative;
  top: 35px;
  left: 35px;
}

.pic-captions{
  display: flex;
  position: absolute;
  margin-bottom: 10px;
  background-color:  rgb(100, 165, 165);
  color: white;
  width: 250px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  z-index: 1;
}

.guess{
position: absolute;
bottom: 640px;
left: 55px;
}
.games{
  position: absolute;
  bottom: 640px;
  right: 55px;
}
.trivia{
  position: absolute;
  bottom: 350px;
  left: 55px;
}
.info{
  position: absolute;
  bottom: 350px;
  right: 55px;
}
.rps{
  position: absolute;
  bottom: 60px;
  left: 55px;
}


#port-header{
  color: rgb(100, 165, 165);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
  border-bottom: 2px solid lightgray;
  margin: 30px 20px -30px 20px;
  padding-bottom: 30px;

}

footer{
width: 100%;
height: 70px;
background-color: gray;
border-top: 7px solid rgb(100, 165, 165);
position: absolute;
color: white;
bottom: -2000px;
left: 0px;
display: flex;
align-items:center;
justify-content: center;
}

@media screen and (max-width: 980px) {

@media screen and (max-width: 768px) {
    section {
        width: 95%;
        position: relative;
        top: 130px;
        left: 0px;
        margin: 0 auto;
        margin-bottom: auto;
    }
    main{
      width: 85%;
  }
  
    img{
      margin-bottom: -30px;
      width: 220px;
      height: 200px;
      display: flex;
      align-items: flex-start;
  }

  }

@media screen and (max-width: 640px) {
    section {
      width: 99%;
      position: relative;
      top: 145px;
      left: 0px;
      margin: 0 auto;
      margin-bottom: auto;
  }
  #nav-name{
      width: 100%;
      left: 0px;
      height: 80px;

    }
  .nav-links{
      background-color: white;
      position: absolute;
      top: 55px;
      z-index: 2;
  }
  .about{
    padding: 10px;
    border-right: 1px solid lightgrey;
    height: 20px;
    left: 29%;
    margin-top: 25px;
    padding-right: 20px;
    }
    
  .portfolio{
      padding: 10px;
      border-right: 1px solid lightgrey;
      height: 20px;
      left: 43%;
      margin-top: 25px;
      padding-right: 20px;
    }
    
  .contact{
      padding: 10px;
      height: 20px;
      left: 60%;
      margin-top: 25px;
      padding-left: 0px;
    }
    .navbox{
      position: fixed;
      width: 100%;
      background-color: white;
      height: 50px;
      top: 80px;
      z-index: 0;
      border-bottom: 2px solid lightgrey;
    }

    main{
      top: 145px;
      height: 690px;
      width: 500px;
      padding: 0px 20px 0px 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
    img{
      margin-left: 20px;
      margin-right: 20px;
      width: 460px;
      height: 300px;
    }
    .about-me-p{
      display: inline-flex;
      margin-left: 20px;
      margin-right: 20px;

    }
    #about-header{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 28px;
      border-bottom: 1px solid lightgray;
      margin: 20px 20px -25px 20px;
      padding-bottom: 20px;
      color: rgb(100, 165, 165);
    }

    .portfolio-container{
      border: 2px solid lightgray;
      height: 2350px;
      width: 560px;
      background-color: white;
    }
    
    
    .port-pics{
      margin-left: 80px ;
      margin-right: 80px ;
      padding: 0px;
      position: relative;
      width: 400px;
      height: 400px;
      left: 0px;
    }
      .pic-captions{
        margin-bottom: 20px;
        width: 400px;
      }

      .guess{
        position: absolute;
        bottom: 1820px;
        left: 80px;
      }
      .games{
        position: absolute;
        bottom: 1380px;
        left: 80px;
      }
      .trivia{
        position: absolute;
        bottom: 940px;
        left: 80px;
      }
      .info{
        position: absolute;
        bottom: 500px;
        left: 80px;
      }
      .rps{
        position: absolute;
        bottom: 60px;
        left: 80px;
      }
      

}
}